body {
  font-family: Arial, sans-serif;
}

.event-card {
  background-color: #ffd700;
  width: 200px;
  height: 120px;
  border-radius: 12px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-title {
  font-weight: bold;
}

.event-description {
  margin-left: 8%;
}

.event-image {
  max-width: 150%;
  min-height: 120%;
  border-radius: 12px;
}

.item-carrinho {
  max-width: 20%;
}
